<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.yaoa">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
	</context:component-scan>

    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="sqlSessionFactory" class="com.yaoa.hibatis.SqlSessionFactoryBean">
        <property name="dataSource" ref="druidDataSource" />
    </bean>
 	<bean class="com.yaoa.hibatis.config.HibatisConfiguration"/>
    
    <bean id="redisConnectionFactory" class="com.yaoa.hibatis.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig">
			<bean class="redis.clients.jedis.JedisPoolConfig">
				<property name="maxTotal" value="10" />
				<property name="maxIdle" value="5" />
				<property name="minIdle" value="1" />
				<property name="testOnBorrow" value="true" />
				<property name="testOnReturn" value="true" />
				<property name="testWhileIdle" value="true" />
				<property name="maxWaitMillis" value="3000" />
			</bean>
		</property>
		<property name="host" value="127.0.0.1" />
		<property name="port" value="6379" />
		<property name="timeout" value="3000" />
		<property name="password" value="" />
		<property name="database" value="0" />
	</bean>
	<bean class="com.yaoa.hibatis.cache.impl.RedisCache">
		<constructor-arg ref="redisConnectionFactory"/>
	</bean>
	<bean class="com.yaoa.hibatis.lock.impl.RedisLockProvider">
 		<constructor-arg ref="redisConnectionFactory"/>
 	</bean>
 	
 	<bean id="kryoSerializer" class="com.yaoa.hibatis.serializer.KryoSerializer"/>
 	
 	<!-- 消息生产者 -->
	<!-- 
	<bean id="messageProducer" class="com.yaoa.hibatis.mq.aliware.AliMessageProducer">
		<property name="topic" value="TOPIC_DEV_DBXA"/>
		<property name="accessKey" value="LTAI7fgD0xlzLUvb"/>
		<property name="secretKey" value="q8Z1FB03o99OapVHgdMEkeZ1uzsjuk"/>
		<property name="producerId" value="PID_DEV_DBXA"/>
		<property name="serializer" ref="kryoSerializer">
		</property>
	</bean>
	 -->
 	
	<!-- 
 	<bean class="com.yaoa.hibatis.mq.aliware.AliMessageListenerContainer">
 	<property name="topic" value="TOPIC_DEV_DBXA"/>
		<property name="accessKey" value="LTAI7fgD0xlzLUvb"/>
		<property name="secretKey" value="q8Z1FB03o99OapVHgdMEkeZ1uzsjuk"/>
		<property name="consumerId" value="CID_DEV_DBXA"/>
		<property name="consumeThreadNums" value="5"/>
		<property name="serializer" ref="kryoSerializer"/>
 		<property name="listeners">
 			<list>
 				<bean class="com.yaoa.hibatis.test.mq.MyMessageListener"/>
 			</list>
 		</property>
 	</bean>
 	-->
    
    <bean id="transactionManager" class="com.yaoa.hibatis.transaction.HibatisDataSourceTransactionManager">
        <property name="dataSource" ref="druidDataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
